# getClimate
---
### getClimate(position, date, info)
* postition : City  (ex. 台北市)
* date : YYYY-MM-DD (ex. 2018-01-01)
* info : station_info.csv

In [1]:
import pandas as pd
import numpy as np

In [2]:
# Set values for example
position = '台北市'
date = '2018-01-01'
info = pd.read_csv('station_info.csv')
info.head()

  Chinese City  English                                                Url
0      板橋  新北市  BANQIAO  https://e-service.cwb.gov.tw/HistoryDataQuery/...
1      淡水  新北市   TAMSUI  https://e-service.cwb.gov.tw/HistoryDataQuery/...
2      鞍部  臺北市     ANBU  https://e-service.cwb.gov.tw/HistoryDataQuery/...
3      臺北  臺北市   TAIPEI  https://e-service.cwb.gov.tw/HistoryDataQuery/...
4     竹子湖  臺北市  ZHUZIHU  https://e-service.cwb.gov.tw/HistoryDataQuery/...

In [3]:
precipitation = []
temperature = []

In [4]:
if position[0] == '台':
    position = '臺' + position[1:]
print(position)

臺北市

In [5]:
info[info['City']==position].head()

   Chinese City  English                                                Url
2       鞍部  臺北市     ANBU  https://e-service.cwb.gov.tw/HistoryDataQuery/...
3       臺北  臺北市   TAIPEI  https://e-service.cwb.gov.tw/HistoryDataQuery/...
4      竹子湖  臺北市  ZHUZIHU  https://e-service.cwb.gov.tw/HistoryDataQuery/...
49      社子  臺北市   Shezih  https://e-service.cwb.gov.tw/HistoryDataQuery/...
50      大直  臺北市    Dazhi  https://e-service.cwb.gov.tw/HistoryDataQuery/...

In [6]:
info[info['City']==position].index

Int64Index([2, 3, 4, 49, 50, 51, 52, 53, 54, 55, 57, 58, 69, 71, 427, 429], dtype='int64')

### Take index = 2 as example

In [7]:
data = pd.read_html(info.loc[2,'Url'] + date)
data  # Show first few data

[                      0   1                        2   3
 0  æ¸¬ç«:466910_éé¨ NaN  è§æ¸¬æé:2018-01-01 NaN,
                           0                         1   \
 0                        NaN                     Press
 1   è§æ¸¬æé(LST)ObsTime  æ¸¬ç«æ°£å£(hPa)StnPres
 2                          1                     926.9
 3                          2                     926.8
 4                          3                     926.7
 5                          4                     926.7
 6                          5                     926.9
 7                          6                     927.2
 8                          7                     927.7
 9                          8                     928.2
 10                         9                     928.4
 11                        10                     928.3
 12                        11                     927.9
 13                        12                     927.0
 14                        13                     926.3
 15                        14                     925.6
 16                        15                     925.5
 17                        16                     925.3
 18                        17                     925.7
 19                        18                     926.0
 20                        19                     926.4
 21                        20                     926.8
 22                        21                     926.9
 23                        22                     927.5
 24                        23                     927.2
 25                        24                     927.3

                              2                       3   \
 0                   temperature               dew point
 1   æµ·å¹³é¢æ°£å£(hPa)SeaPres  æ°£æº«(â)Temperature
 2                        1541.0                     8.3
 3                        1539.9                     8.2
 4                        1539.4                     8.2
 5                        1539.2                     8.6
 6                        1540.2                     8.2
 7                        1543.8                     8.6
 8                        1547.4                     8.9
 9                        1551.9                     8.9
 10                       1553.6                     9.0
 11                       1554.2                     9.8
 12                       1552.7                    10.4
 13                       1549.8                    11.4
 14                       1538.6                    10.6
 15                       1531.9                    10.3
 16                       1530.9                    10.2
 17                       1529.6                    10.2
 18                       1532.7                    10.2
 19                       1536.3                    10.6
 20                       1540.4                    10.7
 21                       1544.3                    10.9
 22                       1545.8                    11.3
 23                       1552.2                    11.3
 24                       1550.5                    11.5
 25                       1552.8                    11.6

                                4                  5              6   \
 0                              RH              WD/WS          Precp
 1   é²é»æº«åº¦(â)Td dew point  ç¸å°æº¼åº¦(%)RH  é¢¨é(m/s)WS
 2                             8.3                100            2.7
 3                             8.2                100            3.8
 4                             8.1                 99            3.2
 5                             8.6                100            2.0
 6                             8.2                100            3.3
 7                             8.6                100            6.1
 8                             8.9                100            3.1
 9                             8.8                 99            6.0
 10                            9.0                100            5.6
 11                            9.8                100            5.4
 12                           10.4                100            5.8
 13                           10.4                 94            5.9
 14                            9.7                 94            4.5
 15                            9.8                 97            5.8
 16                            9.8                 97            5.1
 17                            9.7                 97            6.1
 18                            9.9                 98            5.8
 19                           10.2                 97            5.7
 20                           10.4                 98            7.0
 21                           10.6                 98            4.4
 22                           11.1                 99            3.3
 23                           11.1                 99            5.6
 24                           11.3                 99            3.1
 25                           11.4                 99            3.5

                      7                        8   \
 0              SunShine               visibility
 1   é¢¨å(360degree)WD  æå¤§é£é¢¨(m/s)WSGust
 2                   220                      9.0
 3                   180                     12.2
 4                   190                     12.7
 5                   200                     11.1
 6                   170                     13.2
 7                   170                     16.4
 8                   190                     13.2
 9                   160                     14.4
 10                  160                     12.9
 11                  170                     13.6
 12                  160                     13.5
 13                  160                     13.5
 14                  180                     13.4
 15                  160                     14.1
 16                  160                     12.5
 17                  150                     13.7
 18                  150                     14.2
 19                  150                     12.2
 20                  150                     14.8
 21                  160                     15.9
 22                  190                     14.5
 23                  150                     12.8
 24                  180                     11.3
 25                  190                     12.2

                                      9                   10  \
 0                                   NaN                 NaN
 1   æå¤§é£é¢¨é¢¨å(360degree)WDGust  éæ°´é(mm)Precp
 2                                   100                 0.5
 3                                   150                 0.5
 4                                   150                   T
 5                                   170                 0.5
 6                                   150                   T
 7                                   190                   T
 8                                   170                 0.5
 9                                   160                   T
 10                                  150                   T
 11                                  170                   T
 12                                  150                 0.0
 13                                  170                 0.0
 14                                  200                 0.0
 15                                  140                 0.0
 16                                  150                 0.0
 17                                  140                 0.0
 18                                  200                 0.5
 19                                  120                 0.0
 20                                  160                 0.0
 21                                  150                 0.5
 22                                  150                 0.5
 23                                  140                 0.5
 24                                  160                   T
 25                                  140                   T

                            11                        12  \
 0                         NaN                       NaN
 1   éæ°´ææ¸(hr)PrecpHour  æ¥ç
 §ææ¸(hr)SunShine
 2                         1.0                       NaN
 3                         1.0                       NaN
 4                         1.0                       NaN
 5                         1.0                       NaN
 6                         1.0                       NaN
 7                         1.0                       0.0
 8                         1.0                       0.0
 9                         1.0                       0.0
 10                        1.0                       0.0
 11                        0.5                       0.0
 12                        0.0                       0.0
 13                        0.0                       0.4
 14                        0.0                       0.0
 15                        0.0                       0.0
 16                        0.0                       0.0
 17                        0.0                       0.0
 18                        0.3                       0.0
 19                        0.0                       0.0
 20                        0.0                       0.0
 21                        0.6                       NaN
 22                        1.0                       NaN
 23                        1.0                       NaN
 24                        1.0                       NaN
 25                        0.5                       NaN

                                     13                 14
 0                                  NaN                NaN
 1   å
 ¨å¤©ç©ºæ¥å°é(MJ/ã¡)GloblRad  è½è¦åº¦(km)Visb
 2                                 0.00                NaN
 3                                 0.00                NaN
 4                                 0.00                NaN
 5                                 0.00                NaN
 6                                 0.00               10.0
 7                                 0.00                NaN
 8                                 0.00                NaN
 9                                 0.00                0.1
 10                                0.01                3.0
 11                                0.46                NaN
 12                                0.58                7.0
 13                                1.48                NaN
 14                                0.83                NaN
 15                                0.32                0.1
 16                                0.02                NaN
 17                                0.00                NaN
 18                                0.00                0.1
 19                                0.00                NaN
 20                                0.00                NaN
 21                                0.00                0.1
 22                                0.00                0.1
 23                                0.00                NaN
 24                                0.00                NaN
 25                                0.00                NaN  ]

In [8]:
data = data[1].iloc[2:,[3,10]]
data.head(10)

     3    10
2   8.3  0.5
3   8.2  0.5
4   8.2    T
5   8.6  0.5
6   8.2    T
7   8.6    T
8   8.9  0.5
9   8.9    T
10  9.0    T
11  9.8    T

In [9]:
temp = pd.to_numeric(data[3], errors = 'coerce', downcast = 'float')
temp.head()

2    8.3
3    8.2
4    8.2
5    8.6
6    8.2
Name: 3, dtype: float32

In [10]:
temp.mean()

9.912499

In [11]:
temp = pd.to_numeric(data[10], errors = 'coerce', downcast = 'float')
temp

2     0.5
3     0.5
4     NaN
5     0.5
6     NaN
7     NaN
8     0.5
9     NaN
10    NaN
11    NaN
12    0.0
13    0.0
14    0.0
15    0.0
16    0.0
17    0.0
18    0.5
19    0.0
20    0.0
21    0.5
22    0.5
23    0.5
24    NaN
25    NaN
Name: 10, dtype: float32

In [12]:
temp.mean()

0.25